.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calculatorPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 70vh;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
  text-shadow: 4px 2px 2px black;
  box-shadow: 1px 1px 20px black;
  border: 1px solid black;
}

.screen {
  background-color: rgba(0, 0, 0, 0.562);
  color: rgba(255, 255, 255, 0.75);
  display: grid;
  justify-content: end;
  align-content: center;
  width: 300px;
  height: 100px;
  border: 4px solid black;
  border-radius: 10px;
}

.calc {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 2rem;
  margin: 2rem;
  border: 7px solid black;
  border-radius: 2rem;
  width: 25rem;
  height: 37rem;
  background-color: rgba(14, 12, 12, 0.623);
  padding: 1rem;
}

button {
  background-color: rgba(0, 0, 0, 0.562);
  color: rgba(255, 255, 255, 0.75);
  width: 5rem;
  height: 4rem;
  border: 4px solid black;
  border-radius: 10px;
  font-size: 1.7rem;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.568);
}

button:hover {
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.247);
}

.btnDiv {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  gap: 0.5rem;
  height: 25rem;
}

.display {
  background-color: rgba(0, 0, 0, 0.562);
  color: rgba(255, 255, 255, 0.75);
  display: grid;
  justify-content: end;
  align-content: center;
  width: 25rem;
  height: 17rem;
  border: 4px solid black;
  border-radius: 1.7rem;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
  width: auto;
}

.quoteDiv {
  width: 70%;
  margin: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: auto;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
  text-shadow: 4px 2px 2px black;
  box-shadow: 1px 1px 20px black;
  border: 1px solid black;
}

.quoteDiv > p {
  text-align: center;
  font-size: 2rem;
}
